<%- include('../includes/header.ejs'); -%>
<%- include('../includes/navbar.ejs'); -%> 

<main>
    <div class="container">
        <div class="row">
            <div class="col-10"  >
                <% if (products.length > 0) { %>
                    <% for (const item of products) { %>  
                        <div class="card m-2" style="width: 17rem; display: inline-block;">
                            <img src="\<%=item.productInfo.picURL %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><%=item.productInfo.title %></h5>
                                <p class="card-text">&#8381 <%=item.productInfo.price %></p>
                                <p class="card-text">Qty: <%=item.qty %></p>
                                <a href="/product/<%=item.productInfo._id%>" class="btn btn-primary">Details</a>
                                <form action="/cart?deleteItem=true" method="post" style="display: inline;">
                                    <input type="hidden" name="productID" value="<%= item.productInfo._id %>">
                                    <input type="hidden" name="_csrf" value="<%= csrf %>">
                                    <button type="submit" class="btn btn-primary">Delete from cart</button>
                                </form>  
                            </div>
                        </div>
                    <% } %> 
                </div>
                <div class="col-2">
                    <a class="btn btn-primary mt-2" href="checkout">Go to checkout</a>
                </div>
            <% } else { %>
                <div class="col pt-5">
                    <h1>No products in your cart!</h1>
                </div>
            <% } %>   
        </div>
    </div>
</main>

<%- include('../includes/scripts.ejs'); -%>
        