<%- include('../includes/header.ejs'); -%>
<%- include('../includes/navbar.ejs'); -%> 

<main>
    <div class="container">
        <div class="col">
            <% if (orders.length > 0) {%>
                <% for (const order of orders) {%>
                    <div>
                        <div>
                            <a class="btn btn-link mx-2 my-2"
                            data-toggle="collapse"
                            href="#orderDetails<%= order._id%>"
                            role="button" aria-expanded="false"
                            aria-controls="orderDetails<%= order._id%>">Order #<%= order._id%></a>
                        </div>
                        <div class="collapse multi-collapse" id="orderDetails<%= order._id%>">
                            <div class="card card-body">
                                <ul>
                                    <% for (const product  of order.items) {%>
                                        <li>
                                            <%= product.productInfo.title %> (id<%=product.productInfo._id%>), qty: <%= product.qty %>
                                        </li>
                                    <%} %>
                                </ul>

                                <a href="/order/<%= order._id%>">Get Invoice</a>
                            </div>
                        </div>
                    </div>    
                <%} %>
            <%} else {%>
                    <div class="pt-5">
                        <h1>You have no orders!</h1>
                    </div>
            <%} %>
        </div>
    </div>
</main>

<%- include('../includes/scripts.ejs'); -%>