<%- include('../includes/header.ejs'); -%>
<%- include('../includes/navbar.ejs'); -%>      
<main>
    <div class="row justify-content-center">
        <div class="col-3 pt-4">
            <hr>
            <% if (errors.length > 0) { %>
                <ul class="list-group mb-3">
                    <% for (const err of errors) {%>
                        <li class="list-group-item list-group-item-danger"><%= err.msg %></li>
                    <%} %>
                </ul>
        <% } %>
            <form action="/auth/new-password" method="post">
                <div class="form-group">
                    <input
                    required type="password"
                    class="form-control"
                    name="password"
                    aria-describedby="passHelp"
                    placeholder="New password">
                    <small id="passHelp" class="form-text text-muted">At least 6 characters long.</small>
                </div>
                <div class="form-group">
                    <input required type="password" class="form-control" name="rePassword" placeholder="Confirm password">
                </div>
                <div class="form-group">
                    <input type="hidden" name="userId" value="<%= userId %>">
                    <input type="hidden" name="resetToken" value="<%= resetToken %>">
                    <input type="hidden" name="_csrf" value="<%= csrf %>">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-dark">Set</button>
                </div>
            </form>
        </div>
    </div>
</main>
<%- include('../includes/scripts.ejs'); -%>